:root {
  --clr-gray-dark: #d5dbdb;
}
* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  color: var(--clr-gray-dark);
}

.card {
  margin-top: 10rem;
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-gray-dark);
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
  width: 600px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 40px var(--clr-gray-dark);
}

.banner-img {
  position: absolute;
  object-fit: contain;
  height: 14rem;
  width: 100%;
}

.category-tag-popular {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.card-body {
  margin: 15rem 1rem 1rem 1rem;
}

.card-hastag {
  font-size: 0.9rem;
  font-weight: 500;
  color: blue;
}

.card-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
  color: grey;
}

.card-description {
  color: blue;
  font-size: 0.9rem;
}

.card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.card-profile-info {
  margin-left: 2rem;
}
.profile-name {
  font-size: 1rem;
  color: gray;
}

.profile-followers {
  font-size: 0.9rem;
  color: gray;
}
